# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ========================
# Node
# ========================
frontend/node_modules/

# ========================
# ML Models
# ========================
*.pt
*.pth
digit_transformer.pth
digit_transformer_clean/

# ========================
# Datasets
# ========================
data/
ml/dataset/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db
